/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    
}
/*variables for colors*/
:root{
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}
/* changes background color*/
body{
   
    color: var(--bg-color);
    background: var(--body-color);
    
}
 
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*creates container, padding left and right*/
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    
}
/*Header postion sticky makes it website scroll!!!!! i had it on position fixed*/
header{
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    
}
.header-active{
    background: var(--box-color);
    transition: 0.4s;
}

/*moves the nav to the right*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
/*changes the logo size and color*/
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}
/*makes navbar horizontal w a gab*/
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
/*adds padding to navbar & white color font*/
.nav-link{
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}
/*when hovering over the navbar font & bkg color changes w a .3 s delay*/
.nav-link:hover{
    color: var(--main-color);
    background-color: var(--container-color);
    transition: 0.3s all linear;
}
/*Menu Icon*/
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
/*creates the hamburger block on top right*/
.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}
/*3 hamburger lines rotate or disaper*/
.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
/*aligns home items to the center*/
.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}
.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*resizes the profile img gives a circle border, w bkg color, and hides img overflow*/
.home-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--main-color);
    overflow: hidden;
    margin: bottom 1rem;;
}
/* resizes & placement profile img  */
.home-img img{
    width: 185px;
    height: 215px;
    object-fit: cover;
    object-position: center;
}
.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* "Hello" gap between pfp, font size, and color */
.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 2rem;
    color: var(--main-color);
}
/*creates a dash before word*/
.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -20px;
    width: 20px;
    height: 2.5px;
    background: var(--main-color);
}
/*creates a dash after word*/
.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -40px;
    width: 20px;
    height: 2.5px;
    background: var(--main-color);
}
/* im jonathan sias font and creates line gap */
.home-text h2{
    font-size: 4rem;
    line-height: 5rem;
}
/* font size and gap lower socials */
.home-text p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.home-text .color{
    color: var(--main-color);
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
/* creates a cicrle around social logos(padding how bigg the cirle is)*/
.social .bx{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}
/* when hovering over social logos bkg circle gradually changes color */
.social .bx:hover{
    background: var(--main-color);
    transition: .3s all linear;
}
/* Heading size font bigger, all uppercase, color change*/
.heading{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}
/* creates two pharagraph colums*/
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
/* "About Me" makes bold, all uppercase, change color */
.about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
/* increase font size, line height gap, font bold, margins */
.about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}
/* font size, center, column gap between word and icon, font color, bkg color,
padding rectangle, border radius rounded corners, margin from top text  */
.btn{
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;  
    column-gap: 1rem;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
/*Services- rearranged into 3 colums of texts */
.services-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
/* creates 3 colums behind the text, backgound color, and curved edges*/
.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 18px;
    background: var(--container-color);
    border-radius: 1rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* scale zoom when hovering over services box, and how lon the transition takes */
.services-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* font of icon, color of icon, padding size of the radius, border dashed & color of it*/
.services-box .bx{
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 14px;
    border-radius: 5rem;
    border: 2px dashed var(--bg-color);
}
/* subtiltles changes font, bold, margin, and color change*/
.services-box h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: .5rem 0;
    color: var(--main-color);
}
/* increase pharagraph font size */
.services-box p{
    font-size: .8rem;
}
/* Protfilio  */
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
/* box contains all of the portofolio stuff */
.portfolio-box{
    position: relative;
    width: 95%;
    height: 700px;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 70px;
}
/* size of the imgs  */
.portfolio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* overlay background color, -100 not shown unless hover  */
.portfolio-overlay{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(24, 29, 72, 0.7);
}
/*  overlay text font size and weight */
.portfolio-overlay h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
/* Link icon size, square border radious, curved edges, color */
.portfolio-overlay .bx{
    font-size: 24px;
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 7px;
}
/*  when hovering over the portfolio overlay slides down  */
.portfolio-overlay .bx:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay{
    top: 0;
    transition: 0.6s all ease 0s;
}

.scroll-top{
    position:fixed;
    bottom: 2rem;
    right: 1.5rem;
}

.scroll-top .bx{
    padding: 8px;
    font-size: 1.3rem;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: .2rem;
}
.scroll-top .bx:hover{
    background: var(--container-color);
    transition: 0.3s;
}
.scroll-active{
    bottom: 2rem;
    transition: 0.3s;
}
/* makes 3 colums for the projects content*/
.projects-content{
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap: 2rem;
}
/* creates the size box, background color, curves edges*/
.project-box{
    padding: 35px 10px;
    background: var(--container-color);
    border-radius: 0.5rem;
    text-align: center;
}
.project-box h2{
    font-size: 1.3rem;
    font-weight: 600;
}
.project-box span{
    font-size: .9rem;
}
/* the whole reviews seciton max width  */
.reviews{
    max-width: 750px;
    margin: auto;
    width: 100%;

/*  review box padding:box size, align text column, bkg color */
}
.review-box{
    padding: 40px 60px;
    max-width: 580px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5rem !important;
    border-radius: 1.5rem;
    background-color: var(--container-color);
    
}
/* quotation color, size, margin */
.review-box .bx{
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}
.review-box .review-text{
    font-size: .90rem;
    margin-bottom: 1rem;
}
.review-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
/* person font color */
.review-profile h2{
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: var(--main-color);
    font-weight: 600;
}
/* from location font */
.review-profile span{
    font-size: 1rem;
    margin: 0.5rem 0 0.07rem;
}
/* size of img, border circle, color solid,  */
.review-profile img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
}
/* swipe bullet white */
.swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
/* swipe when on a page the bullet turns blue, width 1.1rem */
.swiper-pagination-bullet-active{
    width: 1.1rem !important;
    background: var(--main-color) !important;
}
/* Contact Form area into grinds, gap space */
.contact-form{
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}
/* no border or outline, text font size & color, bkg color of boxes, curved edges*/
.contact-form input,.contact-form textarea{
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 15px;
    color: var(--bg-color);
    background: var(--body-color);
    border-radius: .5rem;
}
/* send btn font size, bold, all uppercase, bkg color, when hover cursor turns pointer */
.contact-form .send-btn{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
}
/* when hover over sendbtn bkg color change*/
.contact-form .send-btn:hover{
    background: #546eff;
    transition: 0.2s all linear;
}
